.pixelated-image-card {
  background-color: #222;
  color: var(--color-primary, #fff);
  border-radius: 15px;
  border: none;
  width: 300px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.pixelated-image-card__default,
.pixelated-image-card__active,
.pixelated-image-card__pixels {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.pixelated-image-card__default {
  z-index: 1;
}

.pixelated-image-card__active {
  z-index: 2;
  display: none;
}

.pixelated-image-card__pixels {
  pointer-events: none;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pixelated-image-card__pixel {
  display: none;
  position: absolute;
}
/* Show the second content on hover */
.pixelated-image-card:hover .pixelated-image-card__active {
  display: block !important;
}

/* Hide default content on hover */
.pixelated-image-card:hover .pixelated-image-card__default {
  display: none !important;
}
