@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@theme {
  --color-main: #e5e7eb; /* sama dengan text-gray-200 */
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-main);
}
